interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"86150027-cb2e-3936-aaca-7b61b7211163","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":430346}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=siren%3A253514490_invalid+AND+etablissementSiege%3ATrue
    headers:
      Authorization:
      - Bearer 86150027-cb2e-3936-aaca-7b61b7211163
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3/siret
  response:
    body:
      string: "{\"header\":{\"statut\":404,\"message\":\"Aucun \xE9l\xE9ment trouv\xE9
        pour q=siren:253514490_invalid AND etablissementSiege:True\"}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: ''
version: 1
