interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"5b665624-487d-33cc-b014-6e4e0e3f665c","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":523906}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=siren%3A253514491+AND+etablissementSiege%3ATrue
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":1,"debut":0,"nombre":1},"etablissements":[{"siren":"253514491","nic":"00047","siret":"25351449100047","statutDiffusionEtablissement":"O","dateCreationEtablissement":"2013-12-11","trancheEffectifsEtablissement":"12","anneeEffectifsEtablissement":"2021","activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2024-03-30T08:21:24.638","etablissementSiege":true,"nombrePeriodesEtablissement":1,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1999-10-20","categorieJuridiqueUniteLegale":"7355","denominationUniteLegale":"MEGALIS
        BRETAGNE","sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":null,"nomUniteLegale":null,"nomUsageUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"84.13Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":"N","societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":null,"trancheEffectifsUniteLegale":"12","anneeEffectifsUniteLegale":"2021","nicSiegeUniteLegale":"00047","dateDernierTraitementUniteLegale":"2024-03-22T09:28:19.000","categorieEntreprise":"PME","anneeCategorieEntreprise":"2021"},"adresseEtablissement":{"complementAdresseEtablissement":"ZAC
        DES CHAMPS BLANCS - BATIMENT B","numeroVoieEtablissement":"15","indiceRepetitionEtablissement":null,"dernierNumeroVoieEtablissement":null,"indiceRepetitionDernierNumeroVoieEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"CLAUDE
        CHAPPE","codePostalEtablissement":"35510","libelleCommuneEtablissement":"CESSON-SEVIGNE","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"35051","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null,"identifiantAdresseEtablissement":"350510659_B","coordonneeLambertAbscisseEtablissement":"356415.46032408084","coordonneeLambertOrdonneeEtablissement":"6791957.311039559"},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2013-12-11","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"BUREAUX
        ADMINISTRATIFS","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"84.13Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"O","changementCaractereEmployeurEtablissement":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://api.insee.fr/entreprises/sirene/V3.11/siret?debut=0&nombre=1>; rel="first"
      - <https://api.insee.fr/entreprises/sirene/V3.11/siret?debut=0&nombre=1>; rel="last"
      X-Total-Count:
      - '1'
    status:
      code: 200
      message: ''
version: 1
