interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"5b665624-487d-33cc-b014-6e4e0e3f665c","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":523895}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=siren%3A253514499+AND+etablissementSiege%3ATrue
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret
  response:
    body:
      string: "{\"header\":{\"statut\":404,\"message\":\"Aucun \xE9l\xE9ment trouv\xE9
        pour q=siren:253514499 AND etablissementSiege:True\"}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: ''
version: 1
