interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"1172ac15-ed5d-38a7-bf49-9d69529fe3cd","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":531403}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=siren%3A243500733
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3/siret
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":12,"debut":0,"nombre":12},"etablissements":[{"siren":"243500733","nic":"00064","siret":"24350073300064","statutDiffusionEtablissement":"O","dateCreationEtablissement":"2002-06-01","trancheEffectifsEtablissement":"NN","anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2020-06-05T12:26:10","etablissementSiege":false,"nombrePeriodesEtablissement":5,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1995-12-06","categorieJuridiqueUniteLegale":"7346","denominationUniteLegale":"COMMUNAUTE
        DE COMMUNES BRETAGNE ROMANTIQUE","sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":null,"nomUniteLegale":null,"nomUsageUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"84.11Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":"N","societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":"O","trancheEffectifsUniteLegale":"21","anneeEffectifsUniteLegale":"2020","nicSiegeUniteLegale":"00114","dateDernierTraitementUniteLegale":"2022-08-29T09:09:44","categorieEntreprise":"PME","anneeCategorieEntreprise":"2020"},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"22","indiceRepetitionEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"DES
        COTEAUX","codePostalEtablissement":"35190","libelleCommuneEtablissement":"LA
        CHAPELLE-AUX-FILTZMEENS","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"35056","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2019-12-31","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":"ZA
        ROUGEOLAIS ST PIERRE DE PLESGUEN","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"42.99Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2019-12-30","dateDebut":"2009-10-15","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"ZA
        ROUGEOLAIS ST PIERRE DE PLESGUEN","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":true,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"42.99Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2[...]
