interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"5b665624-487d-33cc-b014-6e4e0e3f665c","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":523907}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=siren%3A243500733
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":24,"debut":0,"nombre":20},"etablissements":[{"siren":"243500733","nic":"00056","siret":"24350073300056","statutDiffusionEtablissement":"O","dateCreationEtablissement":"2002-03-01","trancheEffectifsEtablissement":null,"anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2024-03-30T03:04:14.570","etablissementSiege":false,"nombrePeriodesEtablissement":4,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1995-12-06","categorieJuridiqueUniteLegale":"7346","denominationUniteLegale":"COMMUNAUTE
        DE COMMUNES BRETAGNE ROMANTIQUE","sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":null,"nomUniteLegale":null,"nomUsageUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"84.11Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":"N","societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":null,"trancheEffectifsUniteLegale":"21","anneeEffectifsUniteLegale":"2021","nicSiegeUniteLegale":"00114","dateDernierTraitementUniteLegale":"2024-03-22T09:28:19.000","categorieEntreprise":"PME","anneeCategorieEntreprise":"2021"},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"22","indiceRepetitionEtablissement":null,"dernierNumeroVoieEtablissement":null,"indiceRepetitionDernierNumeroVoieEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"DES
        COTEAUX","codePostalEtablissement":"35190","libelleCommuneEtablissement":"LA
        CHAPELLE-AUX-FILTZMEENS","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"35056","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null,"identifiantAdresseEtablissement":"350560017_B","coordonneeLambertAbscisseEtablissement":"342625.6940908491","coordonneeLambertOrdonneeEtablissement":"6820028.893644165"},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2013-01-31","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":"LOCATION
        DE LOCAUX COMMERCIAUX","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"68.20B","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2013-01-30","dateDebut":"2008-01-01","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"LOCATION
        DE LOCAUX COMMERCIAUX","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"68.20B","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","c[...]
