interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"error_description":"A valid OAuth client could not be found for client_id:la2Zhof1pn9LgrbhD5OXYHlc63ga","error":"invalid_client"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://entreprise.data.gouv.fr/api/sirene/v3/unites_legales/253514491
  response:
    body:
      string: "{\"unite_legale\":{\"id\":255154,\"siren\":\"253514491\",\"statut_diffusion\":\"O\",\"unite_purgee\":null,\"date_creation\":\"1999-10-20\",\"sigle\":null,\"sexe\":null,\"prenom_1\":null,\"prenom_2\":null,\"prenom_3\":null,\"prenom_4\":null,\"prenom_usuel\":null,\"pseudonyme\":null,\"identifiant_association\":null,\"tranche_effectifs\":\"12\",\"annee_effectifs\":\"2019\",\"date_dernier_traitement\":\"2021-10-27T08:12:08\",\"nombre_periodes\":\"10\",\"categorie_entreprise\":\"PME\",\"annee_categorie_entreprise\":\"2019\",\"date_fin\":null,\"date_debut\":\"2020-09-15\",\"etat_administratif\":\"A\",\"nom\":null,\"nom_usage\":null,\"denomination\":\"MEGALIS
        BRETAGNE\",\"denomination_usuelle_1\":null,\"denomination_usuelle_2\":null,\"denomination_usuelle_3\":null,\"categorie_juridique\":\"7355\",\"activite_principale\":\"84.13Z\",\"nomenclature_activite_principale\":\"NAFRev2\",\"nic_siege\":\"00047\",\"economie_sociale_solidaire\":\"N\",\"caractere_employeur\":\"O\",\"created_at\":\"2022-03-07T17:36:38.965+01:00\",\"updated_at\":\"2022-03-07T17:36:38.965+01:00\",\"etablissement_siege\":{\"id\":107196183,\"siren\":\"253514491\",\"nic\":\"00047\",\"siret\":\"25351449100047\",\"statut_diffusion\":\"O\",\"date_creation\":\"2013-12-11\",\"tranche_effectifs\":\"12\",\"annee_effectifs\":\"2019\",\"activite_principale_registre_metiers\":null,\"date_dernier_traitement\":\"2021-10-27T08:12:08\",\"etablissement_siege\":\"true\",\"nombre_periodes\":\"2\",\"complement_adresse\":\"ZAC
        DES CHAMPS BLANCS - BATIMENT B\",\"numero_voie\":\"15\",\"indice_repetition\":null,\"type_voie\":\"RUE\",\"libelle_voie\":\"CLAUDE
        CHAPPE\",\"code_postal\":\"35510\",\"libelle_commune\":\"CESSON-SEVIGNE\",\"libelle_commune_etranger\":null,\"distribution_speciale\":null,\"code_commune\":\"35051\",\"code_cedex\":null,\"libelle_cedex\":null,\"code_pays_etranger\":null,\"libelle_pays_etranger\":null,\"complement_adresse_2\":null,\"numero_voie_2\":null,\"indice_repetition_2\":null,\"type_voie_2\":null,\"libelle_voie_2\":null,\"code_postal_2\":null,\"libelle_commune_2\":null,\"libelle_commune_etranger_2\":null,\"distribution_speciale_2\":null,\"code_commune_2\":null,\"code_cedex_2\":null,\"libelle_cedex_2\":null,\"code_pays_etranger_2\":null,\"libelle_pays_etranger_2\":null,\"date_debut\":\"2015-03-19\",\"etat_administratif\":\"A\",\"enseigne_1\":null,\"enseigne_2\":null,\"enseigne_3\":null,\"denomination_usuelle\":null,\"activite_principale\":\"84.13Z\",\"nomenclature_activite_principale\":\"NAFRev2\",\"caractere_employeur\":\"O\",\"longitude\":\"-1.621571\",\"latitude\":\"48.137464\",\"geo_score\":\"0.96\",\"geo_type\":\"housenumber\",\"geo_adresse\":\"15
        Rue Claude Chappe 35510 Cesson-S\xE9vign\xE9\",\"geo_id\":\"35051_0659_00015\",\"geo_ligne\":\"G\",\"geo_l4\":\"15
        RUE CLAUDE CHAPPE\",\"geo_l5\":null,\"unite_legale_id\":255154,\"created_at\":\"2022-03-08T14:49:07.022+01:00\",\"updated_at\":\"2022-03-08T14:49:07.022+01:00\"},\"numero_tva_intra\":\"FR47253514491\",\"etablissements\":[{\"id\":107196184,\"siren\":\"253514491\",\"nic\":\"00054\",\"siret\":\"25351449100054\",\"statut_diffusion\":\"O\",\"date_creation\":\"2014-02-28\",\"tranche_effectifs\":\"11\",\"annee_effectifs\":\"2019\",\"activite_principale_registre_metiers\":null,\"date_dernier_traitement\":\"2021-10-27T08:12:08\",\"etablissement_siege\":\"false\",\"nombre_periodes\":\"2\",\"complement_adresse\":null,\"numero_voie\":\"15\",\"indice_repetition\":null,\"type_voie\":\"RUE\",\"libelle_voie\":\"CLAUDE
        [...]
